body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f59f00;
    color: #333;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-top: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"], .btn-voltar {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"] {
    background-color: #f59f00; 
    color: #fff;
}

button[type="submit"]:hover, .btn-voltar:hover {
    background-color: #343a40; 
    color: #fff;
}

.btn-voltar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f59f00; 
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: none; 
}

.btn-voltar:hover {
    background-color: #343a40; 
}